<main>
  <!-- hero section -->
  <section class="bg-gray-900 h-screen">
    <div class="flex flex-col px-6 py-10 mx-auto mt-32 max-w-screen-xl space-y-6 lg:py-16 lg:flex-row lg:items-center">
      <div class="w-full lg:w-1/2 mb-10">
        <div class="lg:max-w-lg">
          <h1 class="text-3xl font-semibold tracking-wide text-white lg:text-4xl">
              Easiest way to create your website
          </h1>
          <div class="mt-8 space-y-5">
            <p class="flex items-center -mx-2 text-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="mx-2">Clean and Simple Layout</span>
            </p>
            <p class="flex items-center -mx-2 text-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="mx-2">Just Copy Paste Codeing</span>
            </p>
            <p class="flex items-center -mx-2 text-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-2 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span class="mx-2">Easy to Use</span>
            </p>
          </div>
        </div>
        <div class="mt-6">
          <a href="#" class="px-6 py-2.5 mt-6 text-sm font-medium leading-5 text-center text-white capitalize bg-indigo-600 rounded-lg hover:bg-indigo-500 lg:mx-0 lg:w-auto focus:outline-none">Download from App Store</a>
        </div>
      </div>
      <div class="flex items-center justify-center w-full flex-1 h-full lg:w-1/2">
        <img class="object-cover w-full h-full mx-auto rounded-md lg:max-w-2xl" src="https://images.unsplash.com/photo-1508394522741-82ac9c15ba69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=748&q=80" alt="glasses photo">
      </div>
    </div>
  </section>
  <!-- end hero section   -->
  <!-- section 1 -->
  <section class="bg-gray-900">
    <div class="max-w-screen-xl px-6 py-32 mt-8 mx-auto">
      <h1 class="text-2xl font-semibold text-center capitalize lg:text-3xl text-white">
        Examples
      </h1>
      <p class="mt-4 text-center text-gray-300">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quam voluptatibus
      </p>
      <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
        <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group" style="background-image:url('https://images.unsplash.com/photo-1621111848501-8d3634f82336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1565&q=80')">
          <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
            <h2 class="mt-4 text-xl font-semibold text-white capitalize">Best website collections</h2>
            <p class="mt-2 text-lg tracking-wider text-indigo-400 uppercase ">Website</p>
          </div>
        </div>
        <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group" style="background-image:url('https://images.unsplash.com/photo-1621609764180-2ca554a9d6f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80')">
          <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
            <h2 class="mt-4 text-xl font-semibold text-white capitalize">Block of Ui kit collections</h2>
            <p class="mt-2 text-lg tracking-wider text-indigo-400 uppercase ">Ui kit</p>
          </div>
        </div>
        <div class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 group" style="background-image:url('https://images.unsplash.com/photo-1531403009284-440f080d1e12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
          <div class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100">
            <h2 class="mt-4 text-xl font-semibold text-white capitalize">Ton’s of mobile mockup</h2>
            <p class="mt-2 text-lg tracking-wider text-indigo-400 uppercase ">Mockups</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section 2 -->
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-32 mx-auto">
        <div class="lg:flex lg:-mx-6">
            <div class="lg:w-3/4 lg:px-6">
                <img class="object-cover object-center w-full h-80 xl:h-[28rem] rounded-xl" src="https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">

                <div>
                    <p class="mt-6 text-sm text-blue-500 uppercase">Want to know</p>

                    <h1 class="max-w-lg mt-4 text-2xl font-semibold leading-tight text-gray-800 dark:text-white">
                        What do you want to know about UI
                    </h1>

                    <div class="flex items-center mt-6">
                        <img class="object-cover object-center w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">

                        <div class="mx-4">
                            <h1 class="text-sm text-gray-700 dark:text-gray-200">Amelia. Anderson</h1>
                            <p class="text-sm text-gray-500 dark:text-gray-400">Lead Developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-8 lg:w-1/4 lg:mt-0 lg:px-6">
                <div>
                    <h3 class="text-blue-500 capitalize">Design instument</h3>

                    <a href="#" class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400 ">
                        How to raise $100k+ by using blox ui kit on your design
                    </a>
                </div>

                <hr class="my-6 border-gray-200 dark:border-gray-700">

                <div>
                    <h3 class="text-blue-500 capitalize">UI Resource</h3>

                    <a href="#" class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400 ">
                        Should you creat UI Product by using Blox?
                    </a>
                </div>

                <hr class="my-6 border-gray-200 dark:border-gray-700">

                <div>
                    <h3 class="text-blue-500 capitalize">Premium Collection</h3>

                    <a href="#" class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400 ">
                        Top 10 Blocks you can get on Blox's collection.
                    </a>
                </div>

                <hr class="my-6 border-gray-200 dark:border-gray-700">

                <div>
                    <h3 class="text-blue-500 capitalize">Premium kits</h3>

                    <a href="#" class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400 ">
                        Top 10 Ui kit you can get on Blox's collection.
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- section 3 -->
  <section class="bg-gray-900">
    <div class="max-w-screen-xl px-6 py-32 mx-auto">
      <section class="mt-8 space-y-8 lg:mt-12">
        <section class="lg:flex lg:items-center">
          <div class="lg:w-1/2 ">
            <p class="text-lg tracking-wider uppercase text-indigo-600 ">Ui kit</p>
            <h2 class="mt-2 text-2xl font-semibold capitalize text-white">Block of Ui kit collections</h2>
          </div>
          <div class="mt-4 lg:w-1/2 lg:mt-0">
            <img class="object-cover w-full h-64 rounded-lg md:h-96" src="https://images.unsplash.com/photo-1621609764180-2ca554a9d6f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">
          </div>
        </section>
        <section class="lg:flex lg:items-center">
          <div class="lg:w-1/2 ">
            <p class="text-lg tracking-wider uppercase text-indigo-600 ">Wareframe</p>
            <h2 class="mt-2 text-2xl font-semibold capitalize text-white">Best free website layout</h2>
          </div>
          <div class="mt-4 lg:w-1/2 lg:mt-0">
            <img class="object-cover w-full h-64 rounded-lg md:h-96" src="https://images.unsplash.com/photo-1600132806608-231446b2e7af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt="">
          </div>
        </section>
      </section>
    </div>
  </section>
</main>
