<% content_for :title, "#{resolve_title_metadata(request.path)}" %>

<main>
  <section id="about-hero-section" class="bg-[#F6F6F8] relative px-6 pt-14 sm:pt-24 lg:px-8 flex flex-col justify-start gap-y-24 opacity-0 animate-fade-in">
    <div class="mx-auto max-w-4xl pt-16 sm:pt-24">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 justify-center w-full text-center">
        <div class="flex items-center justify-center text-green-dark text-xs">
          <svg class="h-4 w-4"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"/>
          </svg>
          <p class="pl-1 font-bold">About us</p>
        </div>
        <h3 class="text-heading sm:text-6xl tracking-wide">
          <%#= phrase('litetracker_about-hero-header') %>
          Software Agency building products
        </h3>
        <p class="text-base font-normal text-gray-500 sm:text-lg/8">
          <%#= phrase('litetracker_about-hero-subheader') %>
          Founded in 2011 we built products for mostly US based startups and Enterprises. ISO 27001 certified and aiming for long serving products.
        </p>
      </div>
    </div>
    <div class="max-w-7xl min-w-auto mx-auto flex justify-center pb-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 justify-center gap-8">
        <div class="flex flex-col items-center justify-center gap-8 w-full h-145">
          <%= image_tag 'litetracker/about-1.avif', width: "2048", height: "1367", class: "w-full h-full rounded-2xl bg-white/5 shadow-2xl ring-1 ring-white/10 object-cover object-center" %>
        </div>
        <div class="flex flex-col items-center justify-center gap-8 w-full h-145">
          <div class="w-full h-68.5">
            <%= image_tag 'litetracker/about-2.avif', width: "1360", height: "908", class: "w-full h-full rounded-2xl bg-white/5 shadow-2xl ring-1 ring-white/10 object-cover object-center" %>
          </div>
          <div class="w-full h-68.5">
            <%= image_tag 'litetracker/about-3.avif', width: "1360", height: "908", class: "w-full h-full rounded-2xl bg-white/5 shadow-2xl ring-1 ring-white/10 object-cover object-center" %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about-our-mission" class="relative px-6 pt-14 lg:px-8">
    <div class="relative mx-auto max-w-7xl py-16 sm:pt-24">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:content-start">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4 max-w-md">
              <p class="flex items-center gap-1 text-green-dark font-semibold text-sm">
                <svg class="h-4 w-4" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <g>
                    <path d="M7.33301 7.99992C7.33301 8.17673 7.40325 8.3463 7.52827 8.47132C7.65329 8.59635 7.82286 8.66659 7.99967 8.66659C8.17649 8.66659 8.34605 8.59635 8.47108 8.47132C8.5961 8.3463 8.66634 8.17673 8.66634 7.99992C8.66634 7.82311 8.5961 7.65354 8.47108 7.52851C8.34605 7.40349 8.17649 7.33325 7.99967 7.33325C7.82286 7.33325 7.65329 7.40349 7.52827 7.52851C7.40325 7.65354 7.33301 7.82311 7.33301 7.99992Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8.00033 4.66675C7.34106 4.66675 6.69659 4.86224 6.14843 5.22852C5.60026 5.59479 5.17302 6.11538 4.92073 6.72447C4.66844 7.33356 4.60243 8.00378 4.73104 8.65038C4.85966 9.29699 5.17713 9.89093 5.6433 10.3571C6.10948 10.8233 6.70342 11.1407 7.35003 11.2694C7.99663 11.398 8.66685 11.332 9.27594 11.0797C9.88503 10.8274 10.4056 10.4001 10.7719 9.85198C11.1382 9.30382 11.3337 8.65935 11.3337 8.00008" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M8.66601 2.03668C7.43005 1.89802 6.18155 2.14687 5.09321 2.74879C4.00486 3.35072 3.13046 4.27598 2.59097 5.39659C2.05147 6.51719 1.87354 7.77775 2.08178 9.0039C2.29002 10.2301 2.87415 11.3612 3.75337 12.2408C4.63258 13.1205 5.76342 13.7052 6.98947 13.9141C8.21551 14.1229 9.47617 13.9456 10.597 13.4067C11.7179 12.8678 12.6436 11.9938 13.2461 10.9058C13.8486 9.81775 14.098 8.56937 13.96 7.33335" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M10 4V6H12L14 4H12V2L10 4Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M10 6L8 8" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </svg>
                Our mission
              </p>
              <p class="text-heading leading-none text-black">Making software better for everyone</p>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-0 sm:pr-0 lg:mx-0 lg:max-w-none">
              <div class="relative mx-auto w-full sm:mx-0">
                <p class="text-subheading flex items-start">
                  We are a software agency founded in 2011 (kolosek.com). We build so many awesome tools using Pivotal Tracker. We didn't want this to change.
                  <br><br>
                  LiteTracker is our latest release as a project management tool intended to incorporate the features that teams have traditionally loved in PivotalTracker. Having been using PivotalTracker for about 15 years, we really know our way around agile project tracking and created LiteTracker as a means to enhance and streamline this very experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about-our-values" class="relative px-6 pt-14 sm:pt-24 lg:px-8 flex flex-col justify-start gap-y-24">
    <div class="mx-auto max-w-4xl">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 justify-center w-full text-center">
        <div class="flex items-center justify-center text-green-dark text-xs">
          <svg class="h-4 w-4" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g>
            <path d="M2.66699 5.33317V3.99984C2.66699 3.64622 2.80747 3.30708 3.05752 3.05703C3.30756 2.80698 3.6467 2.6665 4.00033 2.6665H5.33366" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M2.66699 10.6665V11.9998C2.66699 12.3535 2.80747 12.6926 3.05752 12.9426C3.30756 13.1927 3.6467 13.3332 4.00033 13.3332H5.33366" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10.667 2.6665H12.0003C12.3539 2.6665 12.6931 2.80698 12.9431 3.05703C13.1932 3.30708 13.3337 3.64622 13.3337 3.99984V5.33317" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10.667 13.3332H12.0003C12.3539 13.3332 12.6931 13.1927 12.9431 12.9426C13.1932 12.6926 13.3337 12.3535 13.3337 11.9998V10.6665" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M5.73541 6.40596C5.86201 6.27695 6.01306 6.17447 6.17972 6.10452C6.34639 6.03457 6.52533 5.99854 6.70608 5.99854C6.88683 5.99854 7.06576 6.03457 7.23243 6.10452C7.39909 6.17447 7.55014 6.27695 7.67674 6.40596L8.00008 6.66596L8.33341 6.40196C8.45992 6.27437 8.61052 6.17318 8.77646 6.10427C8.9424 6.03536 9.12037 6.00009 9.30005 6.00053C9.47973 6.00096 9.65753 6.03708 9.82314 6.1068C9.98874 6.17651 10.1388 6.27842 10.2647 6.40662C10.5224 6.66892 10.6668 7.02192 10.6668 7.38962C10.6668 7.75732 10.5224 8.11032 10.2647 8.37262L8.00008 10.666L5.73541 8.37262C5.47752 8.11029 5.33301 7.75715 5.33301 7.38929C5.33301 7.02143 5.47752 6.66829 5.73541 6.40596Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
          <p class="pl-1 font-bold">Our values</p>
        </div>
        <h3 class="text-heading tracking-wide">
          <%#= phrase('litetracker_about-our-values-header') %>
          Our core values
        </h3>
        <p class="text-base font-normal text-gray-500 sm:text-lg/8">
          <%#= phrase('litetracker_about-our-values-subheader') %>
          We believe in forging strong relationships with our customers, partners, and employees, based on trust and mutual respect.
        </p>
      </div>
    </div>
    <div class="max-w-7xl min-w-auto mx-auto flex justify-center pb-24">
      <div class="grid grid-cols-1 sm:grid-cols-4 justify-center gap-18">
        <div class="flex flex-col gap-2 w-full">
          <div class="flex items-center gap-1 text-xs text-black-light">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <g>
                <path d="M3.75 5.25C3.75 6.04565 4.06607 6.80871 4.62868 7.37132C5.19129 7.93393 5.95435 8.25 6.75 8.25C7.54565 8.25 8.30871 7.93393 8.87132 7.37132C9.43393 6.80871 9.75 6.04565 9.75 5.25C9.75 4.45435 9.43393 3.69129 8.87132 3.12868C8.30871 2.56607 7.54565 2.25 6.75 2.25C5.95435 2.25 5.19129 2.56607 4.62868 3.12868C4.06607 3.69129 3.75 4.45435 3.75 5.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M2.25 15.75V14.25C2.25 13.4544 2.56607 12.6913 3.12868 12.1287C3.69129 11.5661 4.45435 11.25 5.25 11.25H8.25C9.04565 11.25 9.80871 11.5661 10.3713 12.1287C10.9339 12.6913 11.25 13.4544 11.25 14.25V15.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 2.34814C12.6453 2.51337 13.2173 2.88867 13.6257 3.41488C14.0342 3.94108 14.2559 4.58827 14.2559 5.25439C14.2559 5.92052 14.0342 6.5677 13.6257 7.09391C13.2173 7.62012 12.6453 7.99542 12 8.16064" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M15.75 15.7503V14.2503C15.7462 13.5882 15.5234 12.9459 15.1165 12.4236C14.7095 11.9013 14.1411 11.5283 13.5 11.3628" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <p class="text-sm font-semibold">
              Collaboration
            </p>
          </div>
          <p class="text-sm font-normal text-gray-500">
            Working together to achieve shared goals and innovation.
          </p>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <div class="flex items-center gap-1 text-xs text-black-light">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <g>
                <path d="M3 9.75C4.33732 9.90893 5.58229 10.5132 6.53457 11.4654C7.48685 12.4177 8.09107 13.6627 8.25 15C8.91294 14.6178 9.46747 14.0729 9.86117 13.4167C10.2549 12.7605 10.4747 12.0148 10.5 11.25C11.7593 10.807 12.859 10.0005 13.66 8.93251C14.461 7.86452 14.9273 6.583 15 5.25C15 4.65326 14.7629 4.08097 14.341 3.65901C13.919 3.23705 13.3467 3 12.75 3C11.417 3.07268 10.1355 3.539 9.06749 4.33999C7.9995 5.14098 7.19301 6.24067 6.75 7.5C5.9852 7.52526 5.23947 7.74513 4.5833 8.13883C3.92713 8.53253 3.38219 9.08706 3 9.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M5.24963 10.5C4.46905 10.9407 3.83787 11.6044 3.437 12.4062C3.03612 13.2079 2.88382 14.1111 2.99963 15C3.8885 15.1158 4.7917 14.9635 5.59344 14.5626C6.39519 14.1618 7.05895 13.5306 7.49963 12.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.5 6.75C10.5 6.94891 10.579 7.13968 10.7197 7.28033C10.8603 7.42098 11.0511 7.5 11.25 7.5C11.4489 7.5 11.6397 7.42098 11.7803 7.28033C11.921 7.13968 12 6.94891 12 6.75C12 6.55109 11.921 6.36032 11.7803 6.21967C11.6397 6.07902 11.4489 6 11.25 6C11.0511 6 10.8603 6.07902 10.7197 6.21967C10.579 6.36032 10.5 6.55109 10.5 6.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <p class="text-sm font-semibold">
              Innovation
            </p>
          </div>
          <p class="text-sm font-normal text-gray-500">
            Continuously evolving to meet challenges and opportunities.
          </p>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <div class="flex items-center gap-1 text-xs text-black-light">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <g>
                <path d="M4.5 3.75H13.5L15.75 7.5L9.375 14.625C9.32612 14.6749 9.26777 14.7145 9.20338 14.7416C9.13899 14.7686 9.06985 14.7826 9 14.7826C8.93015 14.7826 8.86101 14.7686 8.79662 14.7416C8.73223 14.7145 8.67388 14.6749 8.625 14.625L2.25 7.5L4.5 3.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7.5 9.00059L6 7.35059L6.45 6.60059" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <p class="text-sm font-semibold">
              Excellence
            </p>
          </div>
          <p class="text-sm font-normal text-gray-500">
            Committing to the highest standards in our products.
          </p>
        </div>
        <div class="flex flex-col gap-2 w-full">
          <div class="flex items-center gap-1 text-xs text-black-light">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <g>
                <path d="M3.75 15.75C4.125 12.375 5.625 9.75 9 8.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M6.74878 13.5C11.4123 13.5 14.6238 11.034 14.9988 4.5V3H11.9883C5.23828 3 2.99878 6 2.98828 9.75C2.98828 10.5 2.98828 12 4.48828 13.5H6.73828H6.74878Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
            <p class="text-sm font-semibold">
              Sustainability
            </p>
          </div>
          <p class="text-sm font-normal text-gray-500">
            Focusing on long-term impact and positive change.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="about-bootstrapped-business" class="relative px-6 py-14 sm:py-24 lg:px-8 flex flex-col justify-start gap-y-24">
    <div class="mx-auto max-w-4xl">
      <div class="mx-auto max-w-2xl flex flex-col gap-y-6 justify-center w-full text-center">
        <div class="flex items-center justify-center text-green-dark text-xs">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g>
              <path d="M13.0009 8.38121L8.00085 13.3332L3.00085 8.38121C2.67106 8.06028 2.41128 7.67455 2.23788 7.2483C2.06449 6.82205 1.98123 6.36451 1.99334 5.9045C2.00546 5.44448 2.11269 4.99196 2.30829 4.57543C2.50389 4.1589 2.78361 3.78738 3.12984 3.48426C3.47608 3.18114 3.88132 2.953 4.32006 2.81419C4.7588 2.67539 5.22152 2.62893 5.6791 2.67774C6.13667 2.72655 6.57918 2.86958 6.97877 3.09781C7.37835 3.32604 7.72635 3.63454 8.00085 4.00387C8.27654 3.63722 8.62494 3.33142 9.02425 3.10561C9.42356 2.8798 9.86518 2.73884 10.3215 2.69155C10.7778 2.64427 11.2389 2.69167 11.676 2.8308C12.1132 2.96993 12.5169 3.19779 12.8619 3.50012C13.2069 3.80244 13.4858 4.17273 13.6811 4.5878C13.8765 5.00287 13.984 5.4538 13.9971 5.91235C14.0101 6.3709 13.9284 6.8272 13.7569 7.25271C13.5855 7.67821 13.3281 8.06376 13.0009 8.38521" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M7.9999 4L5.80457 6.19533C5.67959 6.32035 5.60938 6.48989 5.60938 6.66667C5.60938 6.84344 5.67959 7.01298 5.80457 7.138L6.16657 7.5C6.62657 7.96 7.37323 7.96 7.83323 7.5L8.4999 6.83333C8.89773 6.43551 9.43729 6.21202 9.9999 6.21202C10.5625 6.21202 11.1021 6.43551 11.4999 6.83333L12.9999 8.33333" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8.33301 10.3333L9.66634 11.6666" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M10 8.66675L11.3333 10.0001" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </svg>
          <p class="pl-1 font-bold">Bootstrapped business</p>
        </div>
        <h3 class="text-heading tracking-wide">
          <%#= phrase('litetracker_about-bootstrapped-business-header') %>
          Backed by the experience
        </h3>
        <p class="text-base font-normal text-gray-500 sm:text-lg/8">
          <%#= phrase('litetracker_about-bootstrapped-business-subheader') %>
          We built many products in financial, medical, SaaS verticals. We’re proud to be vouch for our new product for a long run ahead of us.
        </p>
      </div>
    </div>
  </section>

  <section id="about-founder-note" class="relative px-6 pt-14 lg:px-8">
    <div class="relative mx-auto max-w-7xl py-16 sm:py-24">
      <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-36 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:content-start">
          <div class="flex flex-col gap-10 px-6 lg:px-0">
            <div class="flex flex-col gap-4">
              <p class="text-heading tracking-tight text-black">Note from the founder</p>
              <ol class="space-y-3">
                <li class="text-subheading flex items-start">
                  Over our 14 years of existence, we have collaborated with dozens of teams across various industries. During that time, we have had the opportunity to use multiple project management tools, such as Jira, RedMine, Github, Asana, Trello, and many others, including Pivotal Tracker. Pivotal Tracker was the tool of choice for several projects where we highly valued the responsiveness of the user experience.
                </li>
                <li class="text-subheading flex items-start">
                  We aimed to maintain a similar essence through its successor. Our main objectives were to achieve a responsive dashboard and a user-friendly experience. I am hopeful that we will achieve complete success. 
                </li>
                <li class="text-subheading flex items-start">
                  Together with our users, we are crafting something truly special, and I cannot wait to see what the future holds.
                </li>
              </ol>
            </div>
            <div class="flex flex-col">
              <p class="text-black-light font-medium text-sm">Nesha Zoric</p>
              <p class="text-subheading text-sm">Founder</p>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative px-6 sm:mx-auto rounded-2xl sm:pl-0 sm:pr-0 lg:mx-0 max-w-124 ">
              <div class="relative mx-auto w-full sm:mx-0 aspect-square">
                <%= image_tag 'litetracker/founder.avif', class: "w-full h-full object-cover object-[right_center] rounded-2xl", alt: '' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
